
body.index{background-image: url("witcher.jpg");}
body.illustrations{background-image: url("background.jpg");}
body.about{background-image: url("aboutbg.jpg");}
body.contact {background-image: url("aboutbg.jpg");}

.header {
  display: flex;
  align-items: flex-start;
  padding: 15px;
  text-align: left;
  background-color: #000000;
  color: #ff3399;
  font-size: 15px;
}

#wrapper {
  margin: 0 auto;
		 width: 80%;
		 min-width: 960px
		 max-width: 1200px;;
		 color: #000066;
   }

#body {
  color: white;

   }

#footer {
  position: fixed;
  font-style: italic;
  left: 1;
  bottom: 2;
  width: 100%;
  background-color: #000000;
  color: white;
  text-align: center;
  border-top: solid 2px #990033;
  padding-top: 0vh;
  padding-bottom: 0vh;
}

.navbar {
  overflow: hidden;
  background-color: #990033;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  overflow: hidden;
  font-family: TimesNewRoman;
  color: white;
  font-stretch; condensed;
    }

.div {
  display: none;
  border: 1px solid #000000;
  height: 30px;
  width: 290px;
  margin-left: 10px;
}

a:hover + div {
  display: block;
}
